html {
  height: 100%;
  overflow-y: scroll; /* Always active scrollbar */
}

body {
  font-family: 'Sanchez', serif;        
  min-height: 80vh;
  background: var(--oc-gray-2);
  padding: 2rem;
  display: flex;
}

div#root {
    display: flex;
    flex: 1;
    min-width: 400px;
}

div.router {
    display: flex;
    flex: 1;
}

div.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}
