html {
    height: 100%;
    overflow-y: scroll; /* Always active scrollbar */
}

body {
    background: #CAD8E6;
    display: flex;
    min-height: 90vh;
}

div#root {
    display: flex;
    flex: 1;
    min-width: 400px;
}

div#firebaseui-auth{
  display: none;
}

div.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}
