.NavBar {
  padding-bottom: .5rem;
  display: flex;
  border-bottom: 1px solid var(--oc-gray-4);
}

.NavBar h1 {
  margin: .3rem 0 0 0;
  font-size: 2.5rem;
  vertical-align: middle;
  color: var(--oc-gray-6);
  text-shadow: 2px 4px 3px rgba(255,255,255,0.8);
}

.NavBar img.Logo {
  vertical-align: middle;
  margin-right: 1rem;
}

.NavBar h1 a:hover {
  text-decoration: none;
}

.NavBar .Menu {
  margin-left: auto;
  display: flex;
}

.NavBar .Menu a {
  color: var(--oc-gray-6);
  display: block;
  margin: 2rem 0 0 1rem;
}

.NavBar .Menu a:hover {
  color: var(--oc-gray-8);
  text-decoration: underline;
}
