.NavBar {
  margin-bottom: 2rem;
  display: flex;
}

.NavBar h1 {
  margin: 0;
  font-size: 4rem;
  color: var(--oc-gray-6);
  text-shadow: 2px 4px 3px rgba(255,255,255,0.3);
}

.NavBar .Logout {
  margin-left: auto;
  text-decoration: none;
  color: var(--oc-grey-2);
  margin-top: 2rem;
}

.NavBar .Logout:hover {
  text-decoration: underline;
}