.NavBar {
  margin-bottom: 2rem;
  padding-bottom: .8rem;
  display: flex;
  border-bottom: 1px solid;
  border-bottom-color: var(--oc-gray-4);
}

.NavBar h1 {
  margin: 0;
  font-size: 4rem;
  color: var(--oc-gray-6);
  text-shadow: 2px 4px 3px rgba(255,255,255,0.3);
}

.NavBar h1 img {
  vertical-align: top;
}

.NavBar .Menu {
  margin-left: auto;
  margin-top: 3.5rem;
}

.NavBar .Menu .Logout {
  color: var(--oc-gray-5);
  text-decoration: none;
}

.NavBar .Logout:hover {
  color: var(--oc-gray-6);
  text-decoration: underline;
}
