.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 2 100%;
  position: relative;
}

.Login .Spinner {
  position: fixed;
  z-index: 999;
  width: 200px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.GoogleIcon {
  width: 32px;
  vertical-align: middle;
  margin-right: 1rem;
}

.Login.disabled {
  pointer-events:none;
  opacity: .5;
}
