.Dashboard {
  flex: 1;
  display: flex;
  margin-top: 1rem;
}

.Dashboard .Bar {
  display: flex;
  flex-direction: column;
}

.Dashboard .Bar .DatePicker {
  display: flex;
  justify-content: center;
}

.Dashboard .Bar .Menu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.Dashboard .Bar .Menu .MenuItem {
  display: flex;
  justify-content: center;
}

.Dashboard .Bar .Menu .Title {
  padding: .5rem;
  justify-content: center;
}

.Dashboard .Bar .Menu .MenuItem p {
  text-align: right;
}

.Dashboard .ChartContainer {
  display: flex;
  flex: 1;
  min-height: 200px;
  height: 265px;
}

.Dashboard .ChartContainer .Chart {
  flex: 1;
}
